@model IEnumerable<inGear.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrower.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <p>@item.Borrower.FirstName @item.Borrower.LastName</p>
            </td>
            <td>
                <p class="mb-0">@item.Borrower.StreetAddress</p>
                <p>@item.Borrower.City, @item.Borrower.State @item.Borrower.ZipCode</p>
            </td>
            <td>
                <p class="mb-0">@item.Gear.Make @item.Gear.Model</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

