@model IEnumerable<inGear.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p class="mb-0">Pickup Address</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gear.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gear.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p class="mb-0">@item.Gear.User.StreetAddress</p>
                <p>@item.Gear.User.City, @item.Gear.User.State @item.Gear.User.ZipCode</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gear.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gear.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
